<ion-view>
<ion-header class="bar bar-header bar-calm" >
<img src="img/logo2.png">
</ion-header>
<ion-content class="has-header">
<div class="list card">
	<a class="item  item-icon-left item-calm" href="#/">
		<i class="icon ion-android-star energized"></i>

		<b>Favorites</b>
		
	</a>
	<a class="item item-icon-left item-calm" href="#/channels">
		<i class="icon icon-small ion-monitor energized"></i>
		<b>Television</b>
	</a>
	<a class="item item-icon-left item-calm" href="#/">
		<i class="icon ion-radio-waves energized"></i>
		<b>Radio</b>
	</a>
	<a class="item item-icon-left item-calm" href="#/">
		<i class="icon ion-document-text energized"></i>
		<b>Feeds</b>
	</a>
</div>

</ion-content>
</ion-view>