<ion-view show-tabs="true" >
<ion-header class="bar bar-header bar-calm " ><h1 class="title"><b>Channels</b></h1>
<img src="img/mchat3.png">
</ion-header>
    <ion-tabs class="tabs-calm">

    <ion-tab title="Local" class="energized" href="#/channels/local">
        <ion-nav-view name="local"></ion-nav-view>
    </ion-tab>

    <ion-tab title="International" class="energized" href="#/channels/interl">
        <ion-nav-view name="international"></ion-nav-view>
    </ion-tab>
    
    </ion-tabs>
  
</ion-view>